In [1]:
import pandas as pd 
df=pd.read_csv('titanic_dataset_alive_ded.csv')

In [2]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [3]:
target=df['Survived']

In [4]:
input=df[['Pclass','Sex','Age','Fare']]

In [5]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  34.5   7.8292
1       3  female  47.0   7.0000
2       2    male  62.0   9.6875
3       3    male  27.0   8.6625
4       3  female  22.0  12.2875

In [6]:
input.isnull().sum()

Pclass     0
Sex        0
Age       86
Fare       1
dtype: int64

In [8]:
input['Fare'].fillna(method='ffill',limit=1,inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_12248\4150369643.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Fare'].fillna(method='ffill',limit=1,inplace=True)

In [11]:
input['Age'].fillna(method='ffill',inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_12248\3253265222.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input['Age'].fillna(method='ffill',inplace=True)

In [12]:
input.isnull().sum()

Pclass    0
Sex       0
Age       0
Fare      0
dtype: int64

In [13]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  34.5   7.8292
1       3  female  47.0   7.0000
2       2    male  62.0   9.6875
3       3    male  27.0   8.6625
4       3  female  22.0  12.2875

In [14]:
sex_dummies=pd.get_dummies(input['Sex'],dtype=int,prefix="sex")

In [15]:
input=pd.concat([input,sex_dummies],axis='columns')
input.head()

   Pclass     Sex   Age     Fare  sex_female  sex_male
0       3    male  34.5   7.8292           0         1
1       3  female  47.0   7.0000           1         0
2       2    male  62.0   9.6875           0         1
3       3    male  27.0   8.6625           0         1
4       3  female  22.0  12.2875           1         0

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le_age=LabelEncoder()
le_pclass=LabelEncoder()
le_fare=LabelEncoder()

In [18]:
input['Age_n']=le_age.fit_transform(input['Age'])
input['Fare_n']=le_fare.fit_transform(input['Fare'])
input['pclass_n']=le_pclass.fit_transform(input['Pclass'])

In [19]:
input.head()

,Pclass,Sex,Age,Fare,sex_female,sex_male,Age_n,Fare_n,pclass_n
0,3,male,34.5,7.8292,0,1,44,24,2
1,3,female,47.0,7.0000,1,0,60,5,2
2,2,male,62.0,9.6875,0,1,74,41,1
3,3,male,27.0,8.6625,0,1,34,34,2
4,3,female,22.0,12.2875,1,0,27,46,2

In [21]:
inputs_n=input[['sex_female','sex_male','Age_n','Fare_n','pclass_n']]

In [22]:
inputs_n

     sex_female  sex_male  Age_n  Fare_n  pclass_n
0             0         1     44      24         2
1             1         0     60       5         2
2             0         1     74      41         1
3             0         1     34      34         2
4             1         0     27      46         2
..          ...       ...    ...     ...       ...
413           0         1     35      31         2
414           1         0     51     154         0
415           0         1     50       9         2
416           0         1     50      31         2
417           0         1     50      84         2

[418 rows x 5 columns]

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
x_train,x_test,y_train,y_test=train_test_split(inputs_n,target,test_size=0.2,random_state=1)

In [25]:
from sklearn import tree

In [26]:
model=tree.DecisionTreeClassifier()

In [27]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [28]:
model.score(x_train,y_train)

1.0

In [30]:
model.predict([[0,1,74,41,1]])

c:\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [31]:
target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [32]:
inputs_n

     sex_female  sex_male  Age_n  Fare_n  pclass_n
0             0         1     44      24         2
1             1         0     60       5         2
2             0         1     74      41         1
3             0         1     34      34         2
4             1         0     27      46         2
..          ...       ...    ...     ...       ...
413           0         1     35      31         2
414           1         0     51     154         0
415           0         1     50       9         2
416           0         1     50      31         2
417           0         1     50      84         2

[418 rows x 5 columns]

In [33]:
model.predict([[1,0,27,46,2]])

c:\Python310\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)